In [6]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\siddh\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\siddh\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\siddh\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\siddh\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [5]:
f1=pd.read_csv('companies (1).txt',sep="\t")

In [6]:
f1

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [10]:
f1.shape

(66368, 10)

In [11]:
f1.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [12]:
f2 = pd.read_csv('rounds2.csv', encoding='latin-1') 
f2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [13]:
f2.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [14]:
f2['company_permalink'].nunique()

90247

In [15]:
f1['name'].nunique()

66102

 <-q3 done

In [16]:
f2['company_permalink']=f2['company_permalink'].str.upper()
f2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [17]:
f1['permalink']=f1['permalink'].str.upper()
f1

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

<-q4 done

In [18]:
count=0
for value in f2['company_permalink']:
    p=value in f1['permalink'] 
    if p==True:
        count+=1

print (count)

0

q5 done

In [19]:
f2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [20]:
f2['company_permalink'].isin(f1['permalink'])

0          True
1          True
2          True
3          True
4          True
          ...
114944     True
114945     True
114946     True
114947    False
114948     True
Name: company_permalink, Length: 114949, dtype: bool

q6

In [21]:
master_dataframe=pd.merge(f1,f2,left_on='permalink',right_on='company_permalink', how='outer')
master_dataframe

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114971,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114972,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114974,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,NaN,NaN,NaN,NaN,NaN,NaN
114975,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [22]:
master_dataframe.drop('company_permalink',axis=1,inplace=True)

In [23]:
master_dataframe.isna().sum()/len(master_dataframe)*100

permalink                   0.027832
name                        0.028702
homepage_url                5.362858
category_list               2.992798
status                      0.027832
country_code                7.571145
state_code                  9.543731
region                      8.866198
city                        8.863589
founded_at                 17.875905
funding_round_permalink     0.023483
funding_round_type          0.023483
funding_round_code         72.916087
funded_at                   0.023483
raised_amount_usd          17.409720
dtype: float64

<-q8 done

In [24]:

filtered_df = master_dataframe[
    (master_dataframe['raised_amount_usd'] >= 4_000_000) &
    (master_dataframe['raised_amount_usd'] <= 15_000_000)
]

print(filtered_df)

                                       permalink                         name  \
0                            /ORGANIZATION/-FAME                        #fame
12                          /ORGANIZATION/0XDATA                       H2O.ai
21      /ORGANIZATION/1-800-PUBLICRELATIONS-INC-  1-800-PublicRelations, Inc.
22                    /ORGANIZATION/1-MAINSTREAM                 1 Mainstream
28                 /ORGANIZATION/10-MINUTES-WITH              10 Minutes With
...                                          ...                          ...
114947                  /ORGANIZATION/ZYOMYX-INC                       ZYOMYX
114948                  /ORGANIZATION/ZYOMYX-INC                       ZYOMYX
114956            /ORGANIZATION/ZYRAZ-TECHNOLOGY             Zyraz Technology
114957            /ORGANIZATION/ZYRAZ-TECHNOLOGY             Zyraz Technology
114962                      /ORGANIZATION/ZYSTOR                       Zystor

                              homepage_url  \
0                       http://livfame.com
12                          http://h2o.ai/
21      http://www.1800publicrelations.com
22              http://www.1mainstream.com
28                http://10minuteswith.com
...                                    ...
114947               http://www.zyomyx.com
114948               http://www.zyomyx.com
114956                http://www.zyraz.com
114957                http://www.zyraz.com
114962               http://www.zystor.com

                                    category_list     status country_code  \
0                                           Media  operating          IND
12                                      Analytics  operating          USA
21      Internet Marketing|Media|Public Relations  operating          USA
22               Apps|Cable|Distribution|Software   acquired          USA
28                                      Education  operating          GBR
...                                           ...        ...          ...
114947                              Biotechnology  operating          USA
114948                              Biotechnology  operating          USA
114956                              Biotechnology     closed          MYS
114957                              Biotechnology     closed          MYS
114962                              Biotechnology   acquired          USA

       state_code         region                   city  founded_at  \
0              16         Mumbai                 Mumbai         NaN
12             CA    SF Bay Area          Mountain View  01-01-2011
21             NY  New York City               New York  24-10-2013
22             CA    SF Bay Area              Cupertino  01-03-2012
28             H9         London                 London  01-01-2013
...           ...            ...                    ...         ...
114947         MO     MO - Other                Fremont  01-01-1998
114948         MO     MO - Other                Fremont  01-01-1998
114956         14    MYS - Other  Damansara New Village  01-01-1994
114957         14    MYS - Other  Damansara New Village  01-01-1994
114962         WI      Milwaukee              Milwaukee         NaN

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
12      /funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e            venture
21      /funding-round/11c228f58831bc7ed337ef69ecc560c2     private_equity
22      /funding-round/b952cbaf401f310927430c97b68162ea            venture
28      /funding-round/0faccbbcc5818dc5326469f13f5a8ac8            venture
...                                                 ...                ...
114947  /funding-round/85443f5438bfd50104b9591eabc95c94              grant
114948  /funding-round/b4fce7f8a13267353d57db09099800e8            venture
114956  /funding-round/c05aab2155e390066d51c6852ff61464              grant
114957  /funding-round/e949f077c943db197f20e43c2eb8d0e6            venture
114962  /funding-round/7ea37c0ff4132b084832039a9380d34e            venture

       funding_round_code   funded_at  raised_amount_usd
0                       B  05-01-2015         10000000.0
12                      A  19-07-2014          8900000.0
21                    NaN  01-02-2015          6000000.0
22                    NaN  17-03-2015          5000000.0
28                      A  09-10-2014          4000000.0
...                   ...         ...                ...
114947                NaN  26-03-2014          7500000.0
114948                NaN  11-07-2013         14219999.0
114956                NaN  11-09-2009          5400000.0
114957                  A  09-10-2009          7991547.0
114962                  A  16-12-2004          8500000.0

[22214 rows x 15 columns]

<- q 1o done

In [25]:

venture_df = master_dataframe[master_dataframe['funding_round_type'] == 'venture']


country_investment = venture_df.groupby('country_code')['raised_amount_usd'].sum()


top_9_countries = country_investment.sort_values(ascending=False).head(9)


print(top_9_countries)

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

<- q11 done

In [26]:



master_dataframe['main_category'] = master_dataframe['category_list'].str.split('|').str[0]

print(master_dataframe[['category_list', 'main_category']])

                                            category_list  \
0                                                   Media
1       Application Platforms|Real Time|Social Network...
2       Application Platforms|Real Time|Social Network...
3                                       Apps|Games|Mobile
4                                             Curated Web
...                                                   ...
114971        Advertising|Mobile|Web Development|Wireless
114972                                                NaN
114973                                                NaN
114974  Consumer Electronics|Internet of Things|Teleco...
114975                 Consumer Goods|E-Commerce|Internet

                main_category
0                       Media
1       Application Platforms
2       Application Platforms
3                        Apps
4                 Curated Web
...                       ...
114971            Advertising
114972                    NaN
114973                    NaN
114974   Consumer Electronics
114975         Consumer Goods

[114976 rows x 2 columns]

In [27]:
def x1(a):
    if a>7000000:
        return 'type C'
    elif a<5000000:
        return 'type a'
    else:
        return 'type b'

In [32]:
master_dataframe['typeclass']= master_dataframe['raised_amount_usd'].map(x1)
master_dataframe['typeclass']

0         type C
1         type b
2         type a
3         type a
4         type a
           ...
114971    type a
114972    type b
114973    type a
114974    type b
114975    type a
Name: typeclass, Length: 114976, dtype: object

In [33]:
pd.pivot_table(master_dataframe,index='funding_round_type',values='raised_amount_usd',aggfunc=['mean','median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.586945e+05          400000.0
convertible_note           1.453439e+06          272000.0
debt_financing             1.704353e+07         1100000.0
equity_crowdfunding        5.383682e+05          100000.0
grant                      4.300576e+06          201684.0
non_equity_assistance      4.112031e+05           60000.0
post_ipo_debt              1.687046e+08        19950000.0
post_ipo_equity            8.218249e+07        12262852.5
private_equity             7.330859e+07        20000000.0
product_crowdfunding       1.363131e+06          183915.0
secondary_market           7.964963e+07        32600000.0
seed                       7.198180e+05          275000.0
undisclosed                1.924237e+07         1018680.0
venture                    1.174895e+07         5000000.0